* {
    font-family: "Iosevka Nerd Font";
    font-size: 20px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: transparent;
    transition: background-color .5s;
}

.modules-left,
.modules-center,
.modules-right
{
    margin: 0 10px;
    padding: 0 5px;
    border-radius: 15px;
    color: #cdd6f4;
    background: #1a1b26;
}

.modules-left {
}

.modules-center {
}

#clock,
#bluetooth,
#battery,
#cpu,
#network,
#pulseaudio,
#tray,
#language {
    padding: 0 10px;
    border-radius: 15px;
}

#clock:hover,
#bluetooth:hover,
#battery:hover,
#cpu:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover,
#language:hover {
    background: #2f3145;
}

#workspaces button {
    background: transparent;
    font-weight: bold;
    color: #c0caf5;
    border: none;
    border-radius: 15px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#workspaces button:hover {
    background: #2f3145;
    color: #cdd6f4;
    box-shadow: none;
}

#custom-arch {
    margin-left: 5px;
    padding: 0 0 0 10px;
    font-size: 25px;
    transition: color .5s;
}
#custom-arch:hover {
    color: #1793d1;
}
