configuration {
  modi: "drun,run,window";
  font: "Ubuntu 14";
  show-icons: true;
  terminal: "kitty";
  disable-history: false;
  timeoutaction: "kb-cancel";
  delay: 0;
}

filebrowser {
  directories-first: true;
  sorting-method: "name";
}
@theme "~/.config/rofi/theme.rasi"
